/* tailwind setup */
@import 'tailwindcss';
@config "../tailwind.config.js";
@plugin "daisyui" {
	themes:
		autumn --default,
		forest --prefersdark;
}

html[data-theme='autumn'] {
	color-scheme: light;
}

html[data-theme='forest'] {
	color-scheme: dark;
}
