/* tailwind setup */
@import 'tailwindcss';
@config "../tailwind.config.js";
@plugin "daisyui" {
    themes: garden --default, forest --prefersdark;
}

html[data-theme='garden'] {
	color-scheme: light;
}

html[data-theme='forest'] {
	color-scheme: dark;
}
