/* Prism styles share one base and switch via theme variables */
html[data-theme='forest'] {
	--prism-fg: #ebdbb2;
	--prism-selection-fg: #fbf1c7;
	--prism-selection-bg: #7c6f64;
	--prism-bg: #1d2021;
	--prism-comment: #a89984;
	--prism-keyword: #fb4934;
	--prism-operator: #a89984;
	--prism-tag: #fabd2f;
	--prism-number: #d3869b;
	--prism-property: #fb4934;
	--prism-string: #b8bb26;
	--prism-attr-value: #a89984;
	--prism-url: #b8bb26;
	--prism-function: #fabd2f;
	--prism-regex-bg: #b8bb26;
	--prism-inserted-bg: #a89984;
	--prism-deleted-bg: #fb4934;
}

html[data-theme='garden'] {
	--prism-fg: #3c3836;
	--prism-selection-fg: #282828;
	--prism-selection-bg: #a89984;
	--prism-bg: #f9f5d7;
	--prism-comment: #7c6f64;
	--prism-keyword: #9d0006;
	--prism-operator: #7c6f64;
	--prism-tag: #b57614;
	--prism-number: #8f3f71;
	--prism-property: #9d0006;
	--prism-string: #797403;
	--prism-attr-value: #7c6f64;
	--prism-url: #797403;
	--prism-function: #b57614;
	--prism-regex-bg: #797403;
	--prism-inserted-bg: #7c6f64;
	--prism-deleted-bg: #9d0006;
}

code[class*='language-'],
pre[class*='language-'] {
	color: var(--prism-fg);
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	color: var(--prism-selection-fg);
	background: var(--prism-selection-bg);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	color: var(--prism-selection-fg);
	background: var(--prism-selection-bg);
}

pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: var(--prism-bg);
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: var(--prism-comment);
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: var(--prism-keyword);
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: var(--prism-operator);
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: var(--prism-tag);
}

.token.entity,
.token.number,
.token.symbol {
	color: var(--prism-number);
}

.token.property,
.token.constant,
.token.variable {
	color: var(--prism-property);
}

.token.string,
.token.char {
	color: var(--prism-string);
}

.token.attr-value,
.token.attr-value .punctuation {
	color: var(--prism-attr-value);
}

.token.url {
	color: var(--prism-url);
	text-decoration: underline;
}

.token.function {
	color: var(--prism-function);
}

.token.regex {
	background: var(--prism-regex-bg);
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: var(--prism-inserted-bg);
}

.token.deleted {
	background: var(--prism-deleted-bg);
}
